// -------- Variables -------------

$body-bg-color: linear-gradient(#ff5462 50%, #fbbec3);
$btn-bg-color: #fbbec3;
$span-txt-color: #979797;

// Why us section
$why-us-icon-color: #fbbec3;
$why-us-icon-bg-color: fbbec3;

// Cryptocurrencies section
$bitcoin-icon-bg-color: #fbbec3;
$ethereum-icon-bg-color: #fbbec3;

// Features section
$features-section-bg-color: linear-gradient(180deg, #fbbec3, #fbbec3);

// CTA section
$cta-section-card-bg-color: #fbbec3;

// Footer
$footer-bg-color: #fbbec3;
$footer-icon-color: #eeeeee;